html, body {
  height: 100%;
  font-family: 'Merriweather', serif;
}

#navbar {
  background: #1E2640;
}

#home {
  background: #F2B705;
  color: #1E2640;
}

#bio {
  background: #F21B42;
  color: #F2B705;
}

#work {
  background: #1E2640;
  color: #F21B42;
}

#contact {
  background: black;
  color: white;
}

h1 {
  font-size: 5em;
}

.nav-item {
  transition: background 200ms;
}

.nav-link {
  outline: none;
}